body {
  margin: 0;
  font-family: "Gothic A1", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 1024px){
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 14px;
  }
}

@media(max-width: 1024px){
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 14px;
  }
}

@media(max-width: 768px){
  body {
    font-size: 12px;
  }

}
